.git
.github
.agents
.env
.env.*
.fleet
.idea
.nova
.phpunit.cache
.phpunit.result.cache
.vscode
.zed
node_modules
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
vendor
Dockerfile*
docker-compose*
Homestead.json
Homestead.yaml
README.md
tests
